asgiref==3.11.0
Django==5.2.10
sqlparse==0.5.5

# 환경변수 관리용
python-dotenv==1.0.1
# 이미지 업로드 / 처리용
Pillow==10.3.0
# 외부 API 호출용
requests==2.32.3

# Django REST Framework (API 분리하는 경우)
djangorestframework==3.15.2
# 소셜 로그인 사용하는 경우
django-allauth==0.63.6
# PostgreSQL 사용하는 경우
# psycopg2-binary==2.9.9