# 1. Web Framework & API
Django==5.2.10
djangorestframework==3.15.2

# 2. Database (PostgreSQL) binary version
# psycopg2-binary==2.9.9

# 3. Environment Variables(.env)
python-dotenv==1.0.1

# 4. External API & Utilities
requests==2.32.3
Pillow==10.3.0

# 5. Deployment (Docker/AWS)
# WSGI server used for real service instead of django embedded server
gunicorn==21.2.0

# 6. Security & Auth (option)
# It is recommended to add CORS error prevention when communicating with the front end (JS).
django-cors-headers==4.3.1
# Social Login
django-allauth==0.63.6