{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="app-container">
    {% block header %}
    {% endblock header %}

    <main class="main-content">
        {% block main_content %}
        {% endblock main_content %}
    </main>

    <nav class="bottom-navbar">
        <ul class="navbar-list">
            <li class="nav-item">
                <a href="{% url 'recipe_list' %}" class="nav-link">
                    <img src="{% static 'images/nav_recipe.png' %}" alt="레시피" class="nav-icon-img">
                    <span>레시피</span>
                </a>
            </li>

            <li class="nav-item">
                <a href="{% url 'my_fridge' %}" class="nav-link active">
                    <img src="{% static 'images/nav_ingredient_active.png' %}" alt="식재료" class="nav-icon-img">
                    <span>식재료</span>
                </a>
            </li>

            <li class="nav-item">
                <a href="{% url 'home' %}" class="nav-link">
                    <img src="{% static 'images/nav_home.png' %}" alt="홈" class="nav-icon-img">
                    <span>홈</span>
                </a>
            </li>

            <li class="nav-item">
                <a href="{% url 'log_list' %}" class="nav-link">
                    <img src="{% static 'images/nav_log.png' %}" alt="일지" class="nav-icon-img">
                    <span>일지</span>
                </a>
            </li>

            <li class="nav-item">
                <a href="{% url 'mypage' %}" class="nav-link">
                    <img src="{% static 'images/nav_mypage.png' %}" alt="마이" class="nav-icon-img">
                    <span>마이</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
{% endblock content %}