{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/users.css' %}">
{% endblock %}

{% block extra_script %}
    <script src="{% static 'js/users.js' %}"></script>
{% endblock %}

{% block content %}
<div class="scroll-container">
    <div class="container-mw">
        
        <div class="logo-area" style="margin-bottom: 40px; text-align: center;">
            <img src="{% static 'images/logo.png' %}" alt="Recipick" style="width: 280px; height: auto;" onerror="this.src='https://via.placeholder.com/175x37'">
        </div>

        <form id="login-form" class="form-group-mw">
            <div class="form-group-mw">
                <input type="email" id="email" placeholder="이메일" class="input-mw" required>
            </div>
            <div class="form-group-mw">
                <input type="password" id="password" placeholder="비밀번호" class="input-mw" required>
            </div>
            <button type="submit" class="btn-mw btn-primary-mw" style="margin-top: 20px;">로그인</button>
        </form>

        <a href="{% url 'users:signup' %}" class="btn-mw link-btn-mw">회원가입</a>

        <div class="social-container-mw">
            <button type="button" class="btn-mw btn-social-mw google-mw">
                <img src="{% static 'images/icon_google.png' %}" class="social-icon"> 구글로 로그인
            </button>
            <button type="button" class="btn-mw btn-social-mw naver-mw">
                <img src="{% static 'images/icon_naver.png' %}" class="social-icon"> 네이버로 로그인
            </button>
            <button type="button" class="btn-mw btn-social-mw kakao-mw">
                <img src="{% static 'images/icon_kakao.png' %}" class="social-icon"> 카카오로 로그인
            </button>
        </div>

        <a href="{% url 'root' %}" class="btn-guest-mw">비회원으로 사용하기</a>
    </div>
</div>
{% endblock %}