{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/users.css' %}">
{% endblock %}

{% block extra_script %}
    <script src="{% static 'js/users.js' %}"></script>
{% endblock %}

{% block content %}
<div class="scroll-container">
    <div class="container-mw">
        
        <div class="logo-area">
            <h1 class="title-text">Recipick</h1>
        </div>

        <form id="nickname-form" class="form-group-mw" style="margin-top: 50px;">
            <div class="form-group-mw">
                <input type="text" id="nickname" placeholder="닉네임 설정" class="input-mw" required>
            </div>
            <button type="submit" class="btn-mw btn-primary-mw" style="margin-top: 30px;">설정 완료</button>
        </form>

    </div>
</div>
{% endblock %}