{% extends 'base.html' %}
{% load static %}

{% block title %}Recipick|알림{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/users.css' %}">
{% endblock %}

{% block content %}
<div class="notification-container">
    <!-- 배경 -->
    <div class="background"></div>
    
    <!-- 상단 헤더 -->
    <div class="header-group">
        <a href="{% url 'root' %}" class="back-button">
            <svg class="back-arrow" fill="none" preserveAspectRatio="none" viewBox="0 0 23 21">
                <path clip-rule="evenodd" d="M9.09154 0.142294C8.9032 0.231938 7.48464 1.63258 4.65354 4.52435C0.120233 9.15499 0.225305 9.02936 0.0494218 10.0247C-0.0164739 10.3973 -0.0164739 10.6027 0.0494218 10.9753C0.225305 11.9706 0.120233 11.845 4.65354 16.4756C7.48464 19.3674 8.9032 20.7681 9.09154 20.8577C10.31 21.4373 11.6334 20.1377 11.0698 18.9151C10.9831 18.727 9.86921 17.5466 7.71424 15.3592C5.9401 13.5584 4.48853 12.0611 4.48853 12.0319C4.48853 12.0027 8.3986 11.9788 13.1776 11.9788C20.8638 11.9788 21.8964 11.9662 22.1231 11.8698C23.2923 11.3728 23.2923 9.62715 22.1231 9.1302C21.8964 9.0338 20.8638 9.02119 13.1776 9.02119C8.3986 9.02119 4.48853 8.99732 4.48853 8.9681C4.48853 8.93887 5.9401 7.44162 7.71424 5.64078C9.86921 3.45341 10.9831 2.27304 11.0698 2.08488C11.6334 0.862262 10.31 -0.437328 9.09154 0.142294Z" fill="#555555" fill-rule="evenodd"/>
            </svg>
        </a>
        <p class="header-title">알림</p>
    </div>
    
    <!-- 구분선 -->
    <div class="divider-line">
        <svg class="divider-svg" fill="none" preserveAspectRatio="none" viewBox="0 0 324 1">
            <line stroke="#555555" x2="324" y1="0.5" y2="0.5"/>
        </svg>
    </div>
    
    <!-- 알림 아이템 컨테이너 -->
    <div class="notifications-list">
        {% for notification in notifications %}
        <!-- 알림이 있을 때 -->
        <div class="notification-item-container" data-notification-id="{{ notification.id|default:forloop.counter }}">
            <!-- 알림 아이콘 -->
            <div class="notification-icon">
                <img alt="{{ notification.ingredient_name }}" class="icon-image" src="{{ notification.icon_url|default:'data:image/svg+xml,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' width=\'29\' height=\'29\' viewBox=\'0 0 29 29\'%3E%3Ctext x=\'0\' y=\'24\' font-size=\'24\'%3E🥕%3C/text%3E%3C/svg%3E' }}">
            </div>
            
            <!-- 알림 메시지 -->
            <p class="notification-message">{{ notification.message }}</p>
            
            <!-- 더보기 버튼 -->
            <p class="more-button" data-notification-id="{{ notification.id|default:forloop.counter }}">⁝</p>
        </div>
        {% empty %}
        <!-- 알림이 없을 때 -->
        <div class="empty-notification">
            <p class="empty-message">소비기한 임박 제품이 없습니다.</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block extra_script %}
<script src="{% static 'js/users.js' %}"></script>
{% endblock %}
