{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/users.css' %}">
{% endblock %}

{% block extra_script %}
    <script src="{% static 'js/users.js' %}"></script>
{% endblock %}

{% block content %}
<div class="scroll-container">
    <div class="container-mw">
        
        <div class="logo-area">
            <h1 class="title-text">Recipick</h1>
        </div>

        <form id="signup-step1-form" class="form-group-mw">
            <div class="form-group-mw">
                <input type="email" id="email" placeholder="이메일" class="input-mw" required>
            </div>
            <div class="form-group-mw">
                <input type="password" id="password" placeholder="비밀번호" class="input-mw" required>
            </div>
            <div class="form-group-mw">
                <input type="password" id="password_confirm" placeholder="비밀번호 확인" class="input-mw" required>
            </div>

            <button type="submit" class="btn-mw btn-primary-mw" style="margin-top: 20px;">회원가입</button>
        </form>

    </div>
</div>
{% endblock %}